<ActionBar>
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="openDrawer()"></NavigationButton>
  <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="openDrawer()" ios.position="left">
  </ActionItem>
  <Label class="action-bar-title" text="My Workshops"></Label>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton>
  <ScrollView tkDrawerContent class="drawer-content">
    <StackLayout horizontalAlignment="left">
      <drawer-content></drawer-content>
    </StackLayout>
  </ScrollView>

  <StackLayout tkMainContent>
    <DockLayout stretchLastChild="true">
      <TabView>
        <StackLayout *tabItem="{title: 'Upcoming'}">
          <ScrollView>
            <StackLayout *ngIf="!noUpcomingWorkshops">
              <StackLayout *ngFor="let workshop of upcomingWorkshops" verticalAlignment="center">
                <GridLayout rows="*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*" columns="*,2*" backgroundColor="#FFFFFF">

                  <Label text="Title:" row="0" col="0" class="label t-16   m-5"></Label>
                  <Label [text]="workshop.title" row="0" col="1" textWrap="true" class="label  m-5"></Label>


                  <StackLayout class="hr-light" row="1" colspan="2"></StackLayout>

                  <Label text="&#xf007;" row="2" col="0" class="fa t-16  label  m-5"></Label>
                  <Label [text]="workshop.who" row="2" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="3" colspan="2"></StackLayout>

                  <Label text="&#xf073;" row="4" col="0" class="fa t-16  label  m-5"></Label>
                  <Label [text]="workshop.date | date_ddmmmyyyy" row="4" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="5" colspan="2"></StackLayout>

                  <Label text="&#xf2bb;" row="6" col="0" class="fa t-16  label  m-5"></Label>
                  <Label [text]="workshop.address" row="6" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="7" colspan="2"></StackLayout>

                  <Label text="&#xf156;" row="8" col="0" class="fa t-16  label  m-5"></Label>
                  <Label [text]="workshop.fee" row="8" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="9" colspan="2"></StackLayout>

                  <Label text="&#xf095;" row="10" col="0" class="fa t-16   label  m-5"></Label>
                  <Label [text]="workshop.contactNumber" row="10" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="11" colspan="2"></StackLayout>

                  <Label text="Pre-Requisites" row="12" col="0" textWrap="true" class="label  t-16  m-5"></Label>
                  <Label [text]="workshop.preRequisites" row="12" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="13" colspan="2"></StackLayout>

                  <Label text="Category" row="14" col="0" textWrap="true" class="label  t-16  m-5"></Label>
                  <Label [text]="workshop.category" row="14" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="15" colspan="2"></StackLayout>

                  <Label text="&#xf041;" row="16" col="0" class="fa t-16 label m-5"></Label>
                  <Label [text]="workshop.city" row="16" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="17" colspan="2"></StackLayout>

                </GridLayout>
                <Button class="btn btn-primary" text="Edit" (tap)="editWorkshop(workshop)"></Button>
              </StackLayout>
            </StackLayout>
            <StackLayout *ngIf="noUpcomingWorkshops">
              <FlexboxLayout flexDirection="column" class="p-10 m-t-20">
                <!-- <Image src="~/images/noelements.png" class=" h-30 w-40"></Image> -->
                <Label text="You Don't Have any workshops" textWrap="true" alignSelf="center" class=" m-t-30 q-f-m font-weight-bold " style="color:#989898;;"></Label>
              </FlexboxLayout>
            </StackLayout>
          </ScrollView>
        </StackLayout>

        <StackLayout *tabItem="{title: 'Past'}">
          <ScrollView>
            <StackLayout *ngIf="!noPastWorkshops">
              <StackLayout *ngFor="let workshop of pastWorkshops" verticalAlignment="center">
                <GridLayout rows="*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*" columns="*,2*" backgroundColor="#FFFFFF">

                  <Label text="Title:" row="0" col="0" class="label t-16   m-5"></Label>
                  <Label [text]="workshop.title" row="0" col="1" textWrap="true" class="label  m-5"></Label>


                  <StackLayout class="hr-light" row="1" colspan="2"></StackLayout>

                  <Label text="&#xf007;" row="2" col="0" class="fa t-16  label  m-5"></Label>
                  <Label [text]="workshop.who" row="2" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="3" colspan="2"></StackLayout>

                  <Label text="&#xf073;" row="4" col="0" class="fa t-16  label  m-5"></Label>
                  <Label [text]="workshop.date | date_ddmmmyyyy" row="4" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="5" colspan="2"></StackLayout>

                  <Label text="&#xf2bb;" row="6" col="0" class="fa t-16  label  m-5"></Label>
                  <Label [text]="workshop.address" row="6" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="7" colspan="2"></StackLayout>

                  <Label text="&#xf156;" row="8" col="0" class="fa t-16  label  m-5"></Label>
                  <Label [text]="workshop.fee" row="8" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="9" colspan="2"></StackLayout>

                  <Label text="&#xf095;" row="10" col="0" class="fa t-16   label  m-5"></Label>
                  <Label [text]="workshop.contactNumber" row="10" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="11" colspan="2"></StackLayout>

                  <Label text="Pre-Requisites" row="12" col="0" textWrap="true" class="label  t-16  m-5"></Label>
                  <Label [text]="workshop.preRequisites" row="12" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="13" colspan="2"></StackLayout>

                  <Label text="Category" row="14" col="0" textWrap="true" class="label  t-16  m-5"></Label>
                  <Label [text]="workshop.category" row="14" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="15" colspan="2"></StackLayout>

                  <Label text="&#xf041;" row="16" col="0" class="fa t-16 label m-5"></Label>
                  <Label [text]="workshop.city" row="16" col="1" textWrap="true" class="label  m-5"></Label>

                  <StackLayout class="hr-light" row="17" colspan="2"></StackLayout>

                </GridLayout>
                <Button class="btn btn-primary" text="Edit" (tap)="editWorkshop(workshop)"></Button>
              </StackLayout>
            </StackLayout>
            <StackLayout *ngIf="noPastWorkshops">
              <FlexboxLayout flexDirection="column" class="p-10 m-t-20">
                <!-- <Image src="~/images/noelements.png" class=" h-30 w-40"></Image> -->
                <Label text="You not yet created any workshops" textWrap="true" alignSelf="center" class=" m-t-30 q-f-m font-weight-bold "
                  style="color:#989898;;"></Label>
              </FlexboxLayout>
            </StackLayout>
          </ScrollView>
        </StackLayout>
      </TabView>
    </DockLayout>
  </StackLayout>
</RadSideDrawer>