<GridLayout class="drawer-header" (tap)="profileNavigation()">
    <!-- <StackLayout class="p-10 m-10" *ngIf="appState.customer?.name">
        <StackLayout orientation="horizontal">
            <Label [text]="appState.customer.name.toUpperCase()[0]" textWrap="true" class="drawer-icon profileIcon"></Label>
            <StackLayout class="m-t-10">
                <Label [text]="appState.customer.mobileNumber" class=" c-white t-15"></Label>
                <Label [text]="appState.customer.name" class="c-white t-12"></Label>
            </StackLayout>
            <Label text="&#xf105;" style="font-weight: bold;" class="fa c-white text-right p-20 m-l-10 t-20"></Label>
        </StackLayout>
    </StackLayout> -->
     <StackLayout class="p-10 m-10">
        <StackLayout orientation="horizontal">
            <Label text="V" textWrap="true" class="drawer-icon profileIcon"></Label>
            <StackLayout class="m-t-10">
                <Label text="9154576059" class=" c-white t-15"></Label>
                <Label text="Lakshmi Evana" class="c-white t-12"></Label>
            </StackLayout>
            <Label text="&#xf105;" style="font-weight: bold;" class="fa c-white text-right p-20 m-l-10 t-20"></Label>
        </StackLayout>
    </StackLayout>
    <!-- <StackLayout class="p-10 m-t-25" *ngIf="!appState.customer?.name">
        <Label text="Loading Please wait..." class="text-left email c-white t-15"></Label>
    </StackLayout> -->
</GridLayout>
<StackLayout class="drawer-links" orientation="vertical">
    <StackLayout class="drawer-link" orientation="horizontal" (tap)="accountNavigation('services-home')">
        <Label text="&#xf015;" alignSelf="center" textWrap="true" class="drawer-icon  homeIcon"></Label>
        <Label class="text" text="Home"></Label>
    </StackLayout>
    <StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link" orientation="horizontal" (tap)="accountNavigation('my-orders')">
        <Label text="&#xf007;" alignSelf="center" textWrap="true" class="drawer-icon  myOrdersIcon"></Label>
        <Label class="text" text="Profile"></Label>
    </StackLayout>
    <StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link" orientation="horizontal" (tap)="accountNavigation('notifications')">
        <Label text="&#xf0f3;" alignSelf="center" textWrap="true" class="drawer-icon  notificationsIcon"></Label>
        <Label class="text" text="Your Workshops"></Label>
    </StackLayout>
    <StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link" orientation="horizontal" (tap)="accountNavigation('contact-us')">
        <Label text="&#xf098;" alignSelf="center" textWrap="true" class="drawer-icon  contactUsIcon"></Label>
        <Label class="text" text="Intersted workshops"></Label>
    </StackLayout>
    <StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link" orientation="horizontal" (tap)="logout()">
        <Label text="&#xf011;" alignSelf="center" textWrap="true" class="drawer-icon t-20 logoutIcon"></Label>
        <Label class="text" text="Logout"></Label>
    </StackLayout>
    <StackLayout class="drawer-separator">
    </StackLayout>
</StackLayout>