<ActionBar>
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="openDrawer()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Workshops"></Label>
    <ActionItem>
        <label [text]="city" (tap)="showModal(3)"></label>
    </ActionItem>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton>
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>


    <StackLayout tkMainContent>
        <DockLayout stretchLastChild="true">
            <TabView>
                <StackLayout *tabItem="{title: 'Upcoming'}">
                    <StackLayout *ngIf="!noUpcomingWorkshops">
                        <!-- <label [text]="category" (tap)="showModal(2)"></label> -->
                        <ListView [items]="upcomingWorkshops" style="width:100%;height:100%;">
                            <ng-template let-item="item">
                                <StackLayout class="m-5 p-5">
                                    <GridLayout row="2" colspan="3" rows="*,*" columns="*,3*">
                                        <StackLayout>
                                            <Label [text]="item.date | date_dd" textWrap="true" class="listDate"></Label>
                                            <Label [text]="item.date | date_mmm" textWrap="true" class="listMonth"></Label>
                                            <Label [text]="item.time" textWrap="true" class="listTime"></Label>
                                        </StackLayout>
                                        <GridLayout rows="*,*" columns="2*,*" class="c-bg-gray" row="0" col="1" (tap)="navigation(item)">
                                            <StackLayout row="0" col="0" class="m-l-5 listContent">
                                                <Label [text]="item.title" textWrap="true" class="t-17 m-t-2" style="color:#ff0000;font-size: 20;"></Label>
                                                <Label [text]="'By: '+item.who" textWrap="true" class="t-12 m-t-2" style="color:#124613"></Label>
                                                <Label [text]="'Category:  ' +item.category" textWrap="true" style="color:#492476;" class="t-12 q-f-l"></Label>
                                                <Label [text]="'Contact Number: '+item.contactNumber" class="t-12" textWrap="true"></Label>

                                            </StackLayout>
                                            <!-- <StackLayout row="0" col="1" (tap)="navigation(item)">
                                                <Label text="" textWrap="true" class="fa c-blue t-17" horizontalAlignment="center"></Label>
                                                <Label text="" textWrap="true" class="fa c-blue t-17" horizontalAlignment="center"></Label>
                                                <Label text="&#xf054;" textWrap="true" class="fa c-blue t-17" horizontalAlignment="center"></Label>
                                            </StackLayout> -->
                                            <StackLayout row="0" col="1">
                                                <Label text="" textWrap="true" class="fa person t-17" horizontalAlignment="center"></Label>
                                                <Label text="&#xf0c0;" textWrap="true" class="fa c-orange t-17" horizontalAlignment="center"></Label>
                                                <Label [text]="item.interestedCount" textWrap="true" class="fa person t-17" horizontalAlignment="center"></Label>
                                            </StackLayout>

                                        </GridLayout>
                                    </GridLayout>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                    </StackLayout>

                    <StackLayout *ngIf="noUpcomingWorkshops">
                        <FlexboxLayout flexDirection="column" class="p-10 m-t-20">
                            <Image src="~/images/noelements.png" class=" h-30 w-40"></Image>
                            <Label text="No Workshops at your location" textWrap="true" alignSelf="center" class=" m-t-30 q-f-m font-weight-bold " style="color:#989898;;"></Label>
                            <Label [nsRouterLink]="['/workshopReg']" text="Want to Add one?? Register here." class="text-center footnote"></Label>
                        </FlexboxLayout>
                    </StackLayout>
                </StackLayout>

                <StackLayout *tabItem="{title: 'Past'}">
                    <StackLayout *ngIf="!noPastWorkshops">
                        <ListView [items]="pastWorkshops" style="width:100%;height:100%;">
                            <ng-template let-item="item">
                                <StackLayout class="m-5 p-5">
                                    <GridLayout row="2" colspan="3" rows="*,*" columns="*,3*">
                                        <Label [text]="item.date | date_ddmmmyyyy" row="0" textWrap="true" class="t-13 couponCircle"></Label>
                                        <GridLayout rows="*,*" columns="2*,*" class="c-bg-gray" row="0" col="1">
                                            <StackLayout row="0" col="0" class="m-l-5">
                                                <Label [text]="item.title" textWrap="true" class="t-17 m-t-2" style="color:#32b5ec;"></Label>
                                                <Label [text]="'By: '+item.who" textWrap="true" class="t-12 m-t-2"></Label>
                                                <Label [text]="item.city" textWrap="true" style="color:darkviolet;" class="t-12 q-f-l"></Label>
                                                <Label [text]="'Contact Number: '+item.contactNumber" class="t-12" textWrap="true"></Label>
                                            </StackLayout>
                                            <StackLayout row="0" col="1" (tap)="navigation(item)">
                                                <Label text="" textWrap="true" class="fa c-blue t-17" horizontalAlignment="center"></Label>
                                                <Label text="" textWrap="true" class="fa c-blue t-17" horizontalAlignment="center"></Label>
                                                <Label text="&#xf054;" textWrap="true" class="fa c-blue t-17" horizontalAlignment="center"></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </GridLayout>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                    </StackLayout>

                    <StackLayout *ngIf="noPastWorkshops">
                        <FlexboxLayout flexDirection="column" class="p-10 m-t-20">
                            <Image src="~/images/noelements.png" class=" h-30 w-40"></Image>
                            <Label text="No Workshops at your location" textWrap="true" alignSelf="center" class=" m-t-30 q-f-m font-weight-bold " style="color:#989898;;"></Label>
                        </FlexboxLayout>
                    </StackLayout>
                </StackLayout>

            </TabView>


        </DockLayout>
    </StackLayout>


</RadSideDrawer>