/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

.background {
    background-image: url("res://background");
    /* background-image: url("res://screen"); */
    background-repeat: no-repeat;
    background-size:100% 100%;
  }
  .couponCircle{
    width: 200;
    height: 110;
    background-color: #32b5ec;
    color: white;
    text-align: center;
    padding: 15;
    font-size: 20;
  }
ActionBar {
    background-color: #fc7b5c;
    color: white;
    font-family: "FallingSkyLight";
    font-weight: bold;
}
.listDate{
    background-color: #fc7b5c;
    color: white;
    font-family: "FallingSkyLight";
    font-weight: bold;
    font-size: 25;
    text-align: center;
}
.listMonth{
    background-color: #fc7b5c;
    color: white;
    font-family: "FallingSkyLight";
    font-size: 21;
    text-align: center;
}
.listTime{
    background-color: #fc7b5c;
    color: white;
    font-family: "FallingSkyLight";
    font-size: 19;
    text-align: center;
}
.listContent{
    font-family: "FallingSkyLight";
    font-size: 18;
}
.submitBtn {
    background-color: #2196f3;
    border-radius: 20;
    height: 35;
    color: white;
    width: 70%;
    font-size: 12;
    padding: 5;
    margin-bottom: 12;
    margin-top:12;
    font-weight: bold;
}
.formBorders {
    border-width: 2;
    border-color: #f4f4f4;
    border-radius: 6;
}
.fieldLabels {
    font-size: 11;
    color: #282828;
   font-weight: bold;
    padding: 17 0 17 2;
    }
.formLabel {
    background-Color: #f4f4f4;
    width: 35%;
    height: auto;    
}
.formLabel1 {
    background-Color: #f4f4f4;
    width: 44%;
    height: auto;    
}
.fieldLabels {
    font-size: 11;
    color: #282828;
   font-weight: bold;
    padding: 19 0 17 2;
 }
.mobileField {
    font-size: 11;
    color: #282828;
    font-weight: bold;
    padding: 10 0 10 2;    
          
   }
.drawer-content {
    background-color: #fff;
    color: black;
}

    .drawer-content .drawer-header {
        height:auto;
        /* height: 160-dip; */
        /* background-color: #2a2c43; */
        background-color: #2196f3;
        /* background-image: url("res://icon"); */
        margin-bottom: 7-px;
        background-repeat: no-repeat;
    }

    .drawer-content .drawer-links .drawer-link {
        font-size: 13-px;
        padding: 15-dip;
    }

        .drawer-content .drawer-links .drawer-link .drawer-icon {
            font-size: 17;
            margin-right: 20-px;
            font-family: "FontAwesome";
        }

        .drawer-content .drawer-links .drawer-link .text {
            margin-left: 50-px;
        }

    .drawer-content .drawer-links .current {
        background-color: #dddddd;
    }

    .drawer-content .drawer-separator {
        height: 5-px;
        background-color: #dddddd;
        margin: 20-px 0;
    }
    .c-bg-blue{
        background-color: #32b5ec;
    }
    .c-bg-gray{
        background-color: #cdd5d8;
    }
    .c-blue {
        color: #32b5ec;
    }
    .c-white {
        color: #fff;
    }
    .br-1 {
        border-radius: 1;
    }
    .w-10{
        width:10%;
    }
.w-80{
    width:80%;
}
.w-15{
    width:15%;
}
.h50{
    height: 50;
}
.h-15{
    height:15%;
}
.p-5{
    padding: 5;
}
.p-10{
    padding: 10;
}
.m-5{
    margin: 5;
}
.m-l-5{
    margin-left: 5;
}
.m-b-2{
    margin-bottom: 2;
}
.t-8 {
    font-size: 8;
}
.t-9 {
    font-size: 8;
}
.t-11 {
    font-size: 11;
}
.t-12 {
    font-size: 12;
}
.t-13 {
    font-size: 13;
}
.t-14 {
    font-size: 14;
}
.t-16{
    font-size: 16;
}
.t-17 {
    font-size: 17;
}